@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fafafa;
  --header: #16234d;
  --body: #152a48;
  --red: #e8234d;
  --fonts: 'Merriweather', serif;
}

/* header css starts here  */
.header {
  color: white;
  display: block;

  background-color: var(--header);
  text-decoration: none;
  font-size: 20px;
  font-family: serif;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 22px;
  padding-left: 22px;
  position: fixed;
}

/* header css ends here  */

/* body starts here */
body {
  background-color: var(--body);
  height: 100vh;
}
/* body ends here */

/* headings starts here  */
.container-headings {
  position: absolute;
  top: calc(50% - 39px);
  left: calc(26% - 11px);
  text-align: center;
  transform: translateY(-50%);

  transform: translatex(30%);
  transform: skewY(-9deg) translate(25%);
}

.main-page img {
  position: absolute;
  width: 100vw;
  max-width: 100vw;
}

h1 {
  font-family: Rye, Georgia, serif;
  font-size: 6rem;
  text-transform: uppercase;
  color: #fafafa;
}

h1 span {
  font-family: Dancing Script, cursive;
  color: var(--red);

  text-transform: lowercase;
}

.main-page h2 {
  font-size: 2rem;
  list-style: 1.2;
  font-family: var(--fonts);
  color: var(--red);
  color: #e8234d;
}

.main-page h3 {
  font-family: 'Merriweather', serif;
  padding: 10px 25px;
  background-color: #006e74;
  display: inline-block;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 auto 10px;
  position: relative;
  font-size: 2.2rem;
  color: var(--white);
}

.main-page h4 span {
  text-transform: uppercase;
  color: var(--white);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.main-page h4 {
  text-transform: uppercase;
  color: var(--white);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 5px;
  text-align: center;
  font-family: var(--fonts);
}

/* body ends here */

/* tablet responsiveness */
@media (max-width: 959px) {
  .container-headings h1,
  h2,
  h3,
  h4 {
    position: relative;
    right: 40%;
  }
  .container-headings h1 {
    font-size: 3rem;
  }

  .container-headings h2 {
    font-size: 1.5rem;
  }
  .container-headings h3 {
    font-size: 1.5rem;
  }
  .container-headings h4 {
    font-size: 1rem;
  }
  .container-headings h4 span {
    font-size: 1srem;
  }
  .main-page img {
    max-width: 125vw;
  }
}
/* talet  responsiveness ends here */

/* mobile phone responsiveness starts here */

@media (max-width: 785px) {
  .container-headings h1,
  h2,
  h3,
  h4 {
    position: relative;
    right: 40%;
  }
  .container-headings h1 {
    font-size: 2rem;
  }

  .container-headings h2 {
    font-size: 1.3rem;
  }
  .container-headings h3 {
    font-size: 1.3rem;
  }
  .container-headings h4 {
    font-size: 0.7rem;
  }
  .container-headings h4 span {
    font-size: 1rem;
  }
  .main-page img {
    /* max-width: 785px; */
    /* width: 100%;
    height: auto; */
    max-width: 180vw;
  }
}

/* mobile phone responsiveness ends here */
